<%- include('../partials/header') %>
    <form action="" method="post" encType="multipart/form-data">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="<%= item.name %>">
            </div>
        </div>

        <div class="row mb-3">
            <label for="birthdate" class="col-sm-2 col-form-label">Birthdate</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="birthdate"
                    value="<%= item.birthdate ? moment(item.birthdate).format('YYYY-MM-DD') : '' %>">
            </div>
        </div>
        <div class="row mb-3">
            <label for="avatar" class="col-sm-2 col-form-label">Avatar</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="avatar">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
    <%- include('../partials/footer') %>